@mixin mobile {
    @media screen and (max-width: 800px) {
        @content;
    }
        
}


.class1{
    margin: 1em;

    @include mobile {
        background-color: red;
        margin: 2em;
    }
}

.class2 {
    margin: 1em;

    @include mobile {
        background-color: blue;
        margin: 2em;
    }
}