/* reset global styles */

*{
    margin: 0;   /* reset global margins */
    padding: 0;  /* remove default padding */
    box-sizing: border-box; /* remove default border */
    line-height: inherit; /* inherit line-height */
    color: inherit; /* inherit color */
    font: inherit; /* inherit font-family */
    font-size: 100%; /* inherit font-size */ 
}

/* lien */

a{
    cursor: pointer; /* set cursor to pointer */
    text-decoration: none; /* remove default underline */
}

/* listes */

ul, ol {
    list-style: none; /* remove default list-style */
}